<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>259213873134-n588m77bmt3kk2lj2r1occ65p5g3gqg5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.259213873134-n588m77bmt3kk2lj2r1occ65p5g3gqg5</string>
	<key>API_KEY</key>
	<string>AIzaSyDby3_IrD83ymqdPpvru-LuwKDVUzDtZ90</string>
	<key>GCM_SENDER_ID</key>
	<string>259213873134</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hungerstation.ios.DevBoy.DevBoy</string>
	<key>PROJECT_ID</key>
	<string>devboy-4006f</string>
	<key>STORAGE_BUCKET</key>
	<string>devboy-4006f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:259213873134:ios:7cda731554e86869</string>
	<key>DATABASE_URL</key>
	<string>https://devboy-4006f.firebaseio.com</string>
</dict>
</plist>